<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">1° AÑO</a>
      <a mat-list-item href="#">2° AÑO</a>
      <a mat-list-item href="#">3° AÑO</a>
      <a mat-list-item href="#">4° AÑO</a>
      <a mat-list-item href="#">5° AÑO</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>school-app</span>
      
        <ul>
        <li>Auxiliar</li>
        <li><button mat-raised-button >cerrar sesion</button></li>
        </ul>
      
    </mat-toolbar>

    
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
